.skills__name {
    width: 144px;
    height: 19px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Preto/100% */

    color: #464646;
}

.hobbies__name{
    width: 144px;
    height: 19px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Preto/100% */

    color: #464646;
}
@media screen and (max-width: 360px) {
    .skills__name {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: #464646;
        width: 140px;
        height: 19px;
    }
    .hobbies__name {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: #464646;
        width: 140px;
        height: 19px;
    }
}